<navbar 
    name="Visitante"
    [opened]="menuOpened"
    (menuToggle)="setMenuState($event)"    
></navbar>

<div class="content-fluid">

    <full-banner></full-banner>

    <app-list-titles 
        title="Adicionado recentemente"
        [list]="listTitles"
    ></app-list-titles>
    <app-list-titles 
        title="Em alta"
        [list]="listTitles"
    ></app-list-titles>
    <app-list-titles 
        title="Continuar assistindo como visitante"
        [list]="listTitles"    
    ></app-list-titles>

<app-footer></app-footer>

<div 
    class="backdrop"
    (click)="closeOpen()" 
    *ngIf="menuOpened"
></div>